/* Estilos CSS para a aplicação */

/*--------------------------------------------------------
Navegador superior
--------------------------------------------------------*/
.navbar-brand img {
    max-height: 100px; /* Ajuste a altura do logotipo */
    border-radius: 15px;
    padding: 0px;
}
.navbar {
    background-color: #e25fa9; /* Cor de fundo do header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.nav-link {
    font-weight: 600; /* Peso da fonte dos links */
    color: #333; /* Cor do texto dos links */
}
.nav-link:hover {
    color: #fcfcfc; /* Cor do texto ao passar o mouse */
}

/*--------------------------------------------------------
inicio.html
--------------------------------------------------------*/
.menu_inicio {
    width: 50%; /* Largura do container (50% da tela) */
    height: 300px; /* Altura do container */
    margin: 0 auto; /* Centraliza o container horizontalmente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    text-align: center; /* Centraliza o texto */
}
.texto_inicio {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    color: #333;
}
/*--------------------------------------------------------
Fundo da pagina
--------------------------------------------------------*/
body {
    /*font-family: Arial, sans-serif;*/
    background-color: #df95bf;
    margin: 1px;
    padding: 1px;
}

/*--------------------------------------------------------
Formatação dos produto em exibição
--------------------------------------------------------*/
.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:40px;
}
.produto {
    position: relative;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px;
    width: 250px;
    height: 450px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
}
.produto img {
    max-width: 100%;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
.produto h3 {
    margin: 10px 0;
}
.produto p {
    color: #000000;
    font-weight: bold;
}
.produto button {
    background-color: #e25fa9;
    font-size: medium;
    color: rgb(0, 0, 0);
    border: 1px solid  #3d3138;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.produto button:hover {
    background-color: #a454ad;
}

.nome_produto {
    height: 80px; /* Altura fixa */
    display: flex;
    align-items: center; /* Alinhamento vertical */
    justify-content: center; /* Alinhamento horizontal */
    margin: 10px 0;
    padding: 0 10px;
    text-align: center;
}
.preco_pos {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
}
.botoes_produto_rodape {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    /*border-top: 1px solid #eee;*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.botoes_produto_rodape a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

.botoes_produto_rodape a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.botoes_produto_rodape span {
    color: #7f7e7e;
}

/*--------------------------------------------------------
Rodapé da pagina
--------------------------------------------------------*/
footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/*--------------------------------------------------------
Cotao contato
--------------------------------------------------------*/
.btn-customizado {
    background-color: #e25fa9;
    color: rgb(0, 0, 0);
}
.btn-customizado:hover {
    background-color: #a454ad;
}

/*--------------------------------------------------------
link Instagram
--------------------------------------------------------*/
.instagram-link {
    text-decoration: none;
    color: #E1306C; /* Cor do Instagram */
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
}
.instagram-link:hover {
    color: #C13584; /* Cor ao passar o mouse */
}

/*--------------------------------------------------------
Popup de detalhes
--------------------------------------------------------*/
.popup {
    text-align: center;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    z-index: 1000;    
}
.popup-body{
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;  /* Centraliza o texto */
}
/* Estilos do popup */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.popup-content {
    background: rgb(226, 208, 224);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    position:relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}
.input-estilizado {
    width: 700px;
    height: 35px;
    font-size: 18px;
    padding: 0 20px;
    border: 2px solid #4CAF50;
    border-radius: 25px; 
    outline: none;
    transition: all 0.3s;
  }
  
  /*--------------------------------------------------
  escurece tela para produto sem estoque
  ---------------------------------------------------*/
/* Estilo para o produto sem estoque */
.produto.sem-estoque {
    position: relative;
    opacity: 0.7;  /* Deixa o produto mais transparente */
}
/* Overlay escuro para produtos sem estoque */
.produto.sem-estoque::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);  /* Fundo escuro semi-transparente */
    z-index: 1;
    border-radius: 8px;  /* Ajuste conforme o seu design */
}
/* Estilo da mensagem "SEM ESTOQUE" */
.sem-estoque-aviso {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);/* rotate(-45deg); /* Rotação de 45 graus */
    background: rgb(241, 187, 187); /* Fundo vermelho semi-transparente */
    color: rgb(211, 30, 30);
    border: 1px solid rgb(211, 30, 30);
    padding: 5px 40px;
    font-weight: bold;
    font-size: 1.0em;
    text-align: center;
    z-index: 2; /* Fica acima do overlay */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar */
    text-transform: uppercase; /* Garante "SEM ESTOQUE" em maiúsculas */
}
/* Desabilita os botões quando o produto está sem estoque */
.produto.sem-estoque .botoes_produto_rodape a {
    pointer-events: none;  /* Impede cliques */
    opacity: 0;  /* Torna os botões mais claros */
    cursor: not-allowed;  /* Mostra o cursor de "não permitido" */
}

  /*--------------------------------------------------
    finalizar compra
  ---------------------------------------------------*/
  
/* Estilo do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: black;
}
.input_modal {
    margin-bottom: 15px;
}
.input_modal label {
    display: block;
    margin-bottom: 5px;
}
.input_modal input,
.input_modal textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#qrcode-container {
    text-align: center;
    margin: 20px 0;
}
#qrcode-img {
    max-width: 250px;
    margin: 0 auto;
    display: block;
}



