{% extends "base_bd.html" %}

{% block title %}Gestão de Produtos - Admin - Bolos da Ana{% endblock %}

{% block content %}

<main role="main" class="container my-5">

    <h1 class="text-center">Gestão de Produtos</h1>

    <div class="text-center my-4">
        <a class="btn btn-success" 
           href="{{ url_for('novo_produto') }}">Adicionar Novo Produto</a>
    </div>

    <ul class="produtos">
        {% for produto in produtos %}
        
        <li class="produto">
            
            <img src="{{ produto.imagem }}" alt="Foto de {{ produto.nome }}">
            
            <div class="nome_produto">
                <h2>{{ produto.nome }}</h2>     
            </div>       
            <div class="preco_pos">
                <p class="preco">R$ {{ "%.2f"|format(produto.preco) }}</p>
            </div>
            
            <div class="botoes_produto_rodape">
                <a href="{{ url_for('editar_produto', id=produto.id) }}" 
                   class="btn-admin-edit"
                   aria-label="Editar {{ produto.nome }}">Editar</a>
                
                <span></span>
                
                <a href="{{ url_for('apagar_produto', id=produto.id) }}" 
                   class="btn-admin-delete"
                   aria-label="Apagar {{ produto.nome }}">Apagar</a>                
            </div>
        </li>
        {% endfor %}
    </ul>
</main>
    
{% endblock %}