{% extends 'base.html' %}
{% block content %}

    <img src="static/fotos/logo.jpg" height=300 width=300 alt="Bolos da Ana" style="display: block; margin: 0 auto; border-radius: 20px;padding: 10px;">       
    <div class="menu_inicio">        
        <div class="texto_inicio">           
            <p> A empresa Bolos da Ana está fazendo a vida mais doce desde 2015, 
                produzindo bolos recheados, bolos caseiros, bolos salgados, docinhos, doces de festa, 
                e muito mais, tudo feito com amor.</p>            
            <p> Em parceria com a escola Poliedro-SJC, estamos levando nossas delícias para as crianças e adolescentes.
                Por aqui, os pais e responsáveis podem adquirir as nossas delícias, que serão entregues aos pequenos
                nos horários de intervalo, tornando a vida muito mais doce!</p>            
            <p> Siga-nos no 
                <img id="instagram" src="static/fotos/instagram.jpeg" alt="Instagram" style="border-radius: 5px;max-height: 20px; max-width: 20px;">
                <a href="https://www.instagram.com/bolosdaanaclaudia/" style="color: blueviolet;">Instagram</a> 
                para acompanhar todas as delícias já feitas!
            </p>
            <p> Bolos da Ana, uma doce conexão com você!</p>           
        </div>
    </div>

{% endblock %}