{% extends "base_bd.html" %}

{% block content %}
<div style="text-align: center;">
    <h1>Novo Produto</h1>
    <form method="post">
        <label for="nome">Nome:</label><br>
        <input type="text" class="input-estilizado" id="nome" name="nome"><br><br>
        <label for="categoria">Categoria:</label><br>
        <input type="text" class="input-estilizado" id="categoria" name="categoria"><br><br>
        <label for="descricao">Descricao:</label><br>
        <input type="text" class="input-estilizado" id="descricao" name="descricao"><br><br>
        <label for="preco">Preço:</label><br>
        <input type="number" class="input-estilizado" id="preco" name="preco" step="0.01"  min="0"><br><br>
        <label for="estoque">Estoque:</label><br>
        <input type="number" class="input-estilizado" id="estoque" name="estoque"  min="0" max="100"><br><br>
        <label for="imagem">Imagem:</label><br>
        <input type="file" class="input-estilizado" id="imagem2" name="imagem" accept=".jpg, .jpeg, .png" /><br><br>

        <input type="submit" value="Adicionar"  
            style="background-color: #4CAF50; color: rgb(36, 24, 24); padding: 10px 15px; text-decoration: none; border-radius: 5px;"><br><br> 
    </form>
</div>
{% endblock %}