{% extends "base_bd.html" %}

{% block title %}Criar Nova Conta - Bolos da Ana{% endblock %}

{% block content %}

<main role="main" class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">

            <h1 class="text-center">Criar Nova Conta</h1>

            <form action="" method="post" novalidate role="form">
                {{ form.hidden_tag() }} {# Essencial para segurança (CSRF) #}

                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class_="form-control", aria_describedby="username-errors") }}
                    
                    {% if form.username.errors %}
                        <div id="username-errors" class="form-errors" role="alert">
                            {% for error in form.username.errors %}
                                <span class="form-error-item">Erro: {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class_="form-control", aria_describedby="password-errors") }}
                    
                    {% if form.password.errors %}
                        <div id="password-errors" class="form-errors" role="alert">
                            {% for error in form.password.errors %}
                                <span class="form-error-item">Erro: {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="mb-3">
                    {{ form.password2.label(class="form-label") }}
                    {{ form.password2(class_="form-control", aria_describedby="password2-errors") }}
                    
                    {% if form.password2.errors %}
                        <div id="password2-errors" class="form-errors" role="alert">
                            {% for error in form.password2.errors %}
                                <span class="form-error-item">Erro: {{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="d-grid">
                    {{ form.submit(class_="btn btn-primary btn-lg") }}
                </div>
            </form>

            <p class="text-center mt-3">
                Já tem uma conta? <a href="{{ url_for('login') }}">Faça o login!</a>
            </p>

        </div>
    </div>
</main>
{% endblock %}